extends ../layout

block content
  .page-header
    h3 My Polls
  
    if (polls.length < 1)
      h2 No polls yet.
        h3 
          i.fa.fa-arrow-down
          |Click below to create one
    else
      each poll in polls
        .input-group
          .form-control #{poll.name}
          .input-group-btn
            a.btn.btn-info(href='/poll/#{poll._id}') 
              i.fa.fa-link
              |Permalink
            a.btn.btn-primary(href='/mypolls/#{poll.id}/edit')
              i.fa.fa-pencil
              |Edit
  a.btn.btn-success(href='/newpoll')
    i.fa.fa-plus
    |New Poll