extends ../layout

block content
  .page-header
    h3 Edit this Poll!
  .poll
    #{poll}
    form.form-horizontal(id='edit-poll-form', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-3.control-label(for='name') Poll Name
        .col-sm-7
          input.form-control(type="text" name="pollname" id="pollname" autofocus, value='#{poll.name}')
      #polloptions
        each option in poll.options
          .form-group
            label.col-sm-3.control-label(for='polloption') Password
            .col-sm-7
              input.form-control(placeholder='Password', value='#{option}', name="polloption")
      .form-group
        .col-sm-offset-3.col-sm-7
          .btn.btn-success#addoption
            i.fa.fa-plus
            | Add an Option
      .form-group
        .col-sm-offset-3.col-sm-7
          button.btn.btn-success(type='submit')
            i.fa.fa-save
            | Save
  script(src="/js/lib/jquery.min.js")        
  script(src="/js/editpoll.js")
